Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
a = ["akash",[1,2,3,4,3,5],10.24,(25,45,"shukla")]

In [5]:
a

['akash', [1, 2, 3, 4, 3, 5], 10.24, (25, 45, 'shukla')]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘ string
(ii) var2 = ‘[ DS , ML , Python]’ string
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] list
(iv) var4 = 1. float
What will be the data type of the above given variable.

In [8]:
var1 = ''

In [9]:
type ('')

str

In [10]:
var2 = '[DS , ML , Python]'

In [11]:
type (var2)

str

In [12]:
var3 = ['DS' , 'ML' , 'Python']

In [13]:
type (var3)

list

In [14]:
var4 = 1.

In [15]:
type (var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [17]:
10/2

5.0

In [18]:
8%2

0

In [19]:
10//5

2

In [21]:
3**2

9

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [22]:
l = [1,2,3,4,5,6,"akash",True,45.45,5+4j]

In [23]:
l

[1, 2, 3, 4, 5, 6, 'akash', True, 45.45, (5+4j)]

In [28]:
for i in l:
    print (type(i))
    print (i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'str'>
akash
<class 'bool'>
True
<class 'float'>
45.45
<class 'complex'>
(5+4j)

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

a = 10
b = 2
while a//b:
    print (a)
    a = a//b

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [1]:
l = [3,6,9,12,15,18,21,24,27,30,554,65,544,5664,115,54,51,65,97,4,6,995,6,56]

In [2]:
l

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 554,
 65,
 544,
 5664,
 115,
 54,
 51,
 65,
 97,
 4,
 6,
 995,
 6,
 56]

In [7]:
for i in l:
  if l[0::]:
    i= i/3
    print (i)
else:
  print ("not devide")

1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
184.66666666666666
21.666666666666668
181.33333333333334
1888.0
38.333333333333336
18.0
17.0
21.666666666666668
32.333333333333336
1.3333333333333333
2.0
331.6666666666667
2.0
18.666666666666668
not devide